{{!-- <h1>{{title}}</h1>
<ul>
    <li>{{aluno.nome}}</li>
    <li>{{aluno.matricula}}</li>
    <li>{{aluno.data_nascimento}}</li>
    <li>{{aluno.email}}</li>
</ul> --}}

{{!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Matricula</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr aluno>
            <th>{{aluno.nome}}</th>
            <th>{{aluno.matricula}}</th>
            <th>{{aluno.data_nascimento}}</th>
            <th>{{aluno.email}}</th>
        </tr>
    </tbody>
</table> --}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Dados do aluno</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Nome: {{aluno.nome}}</li>
        <li class="list-group-item">Matricula: {{aluno.matricula}}</li>
        <li class="list-group-item">Data de Nascimento: {{aluno.data_nascimento}}</li>
        <li class="list-group-item">Email: {{aluno.email}}</li>
    </ul>
    <div class="card-body">
        <a href="/alunos/edit/{{aluno.matricula}}" class="btn btn-success" class="card-link" >editar</a>
        <a href="" class="btn btn-warning" class="card-link">Another link</a>
    </div>
</div>
