<h1>{{title}}</h1>
{{!-- {{#each alunos.content}}

<ul>
    <li><b>Nome</b>{{nome}}</li>
    <li><b>Matricula</b>{{matricula}}</li>
    <li><b>Data De Nascimento</b>{{data_nascimento}}</li>
    <li><b>Endereço de Email</b>{{email}}</li>
</ul>
{{/each}} --}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Matricula</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each alunos.content}}
        <tr alunos.content>
            <th><a href="/alunos/{{matricula}}">{{nome}}</a></th>
            <th>{{matricula}}</th>
            <th>{{data_nascimento}}</th>
            <th>{{email}}</th>
        </tr>
        {{/each}}
    </tbody>
</table> 